<div class="page">
  <div class="page-content">
    <div class="page-content-title">
      {{ 'poster.title' | translate }}
    </div>
    <div class="w-full flex flex-col items-stretch gap-[24px]">
      <app-checkbox [formControl]="removeExtraControl">
        {{ 'poster.control.removeExtra' | translate }}
      </app-checkbox>
      <app-theme-selector [image]="poster()?.image" (colorsChanged)="handleColorsChanged($event)" />
      <div class="w-full flex flex-col items-stretch gap-[12px]">
        <button type="submit" (click)="print()">
          {{ 'common.action.download' | translate }}
        </button>
        <a routerLink="/albums">
          {{ 'common.action.goBack' | translate }}
        </a>
      </div>
    </div>
    @if (loading()) {
      <div class="page-content-loader">
        <app-spinner />
      </div>
    }
  </div>
  <div class="page-decoration">
    @if (poster(); as poster) {
      <app-poster-preview [poster]="poster" [colors]="colors()" [removeExtra]="removeExtra()" />
    }
  </div>
</div>
