<div class="page">
  <div class="page-content">
    <div class="page-content-title">
      {{ 'poster.title' | translate }}
    </div>
    <div class="album-preview">
      <app-theme-selector />
      <div class="album-preview-actions">
        <button app-button type="submit" (click)="print()">
          {{ 'common.action.download' | translate }}
          <app-icon name="download"/>
        </button>
        <a class="link" routerLink="/albums">
          {{ 'common.action.goBack' | translate }}
        </a>
      </div>
    </div>
    @if (loading()) {
      <div class="page-content-loader">
        <app-spinner/>
      </div>
    }
  </div>
  <div class="page-decoration">
    @if (preview(); as preview) {
      <object type="application/pdf" width="100%" height="100%" [data]="preview">Poster preview</object>
    }
  </div>
</div>
