.poster {
  font-family: 'Bebas Neue', serif;
  background: var(--poster-background, #f9f8f6);
  color: var(--poster-text-color, #171918);
  overflow: hidden;
  position: relative;
  page-break-after: always;
  width: 210mm;
  height: 296mm;
  padding: 10mm 15mm;
  print-color-adjust: exact;
}

.divider {
  flex: 1;
  height: 0.75mm;
  background: var(--poster-text-color, #171918);
}
