<div class="poster">
  <div class="poster-header">
    <div class="divider"></div>
    <div class="poster-header-artist">{{ poster().artist }}</div>
  </div>
  <img class="poster-cover" [alt]="poster().title" [src]="poster().image"/>
  <div class="poster-color-palette">
    @for (color of dominantColors(); track color) {
      <div class="poster-color-palette-item" [style.background-color]="color"></div>
    }
  </div>
  <div class="poster-content">
    <div class="poster-content-track-list">
      @for (track of tracks(); track track.id) {
        <span>
            {{ track.title }}
          @if (track.extra && !removeExtra()) {
            <span class="poster-content-track-list-extra">{{ track.extra }}</span>
          }
          </span>
        @if (!$last) {
          <span> • </span>
        }
      }
    </div>
    <div class="poster-content-information">
      <div class="poster-content-information-title">{{ poster().title }}</div>
      <div class="poster-content-information-release-date">Released {{ poster().date | date }}</div>
      <div class="poster-content-information-duration">{{ tracksLength() }} tracks - {{ durationInMinutes() }}
        minutes
      </div>
      <div class="spacer"></div>
      <div class="poster-content-information-label">{{ poster().label }}</div>
    </div>
  </div>
  <div class="poster-footer">
    <img [src]="code()" class="poster-footer-code" alt="spotify code">
    <div class="divider"></div>
  </div>
</div>
