.poster {
  font-family: 'Bebas Neue', serif;
  background: var(--yaku-poster-background-color, #f9f8f6);
  color: var(--yaku-poster-text-color, #171918);
  overflow: hidden;
  position: relative;
  page-break-after: always;
  width: 210mm;
  height: 296mm;
  padding: 10mm 15mm;
  print-color-adjust: exact;
}

.divider {
  flex: 1;
  height: 0.75mm;
  background: var(--yaku-poster-title-color, #171918);
}

.title {
  color: var(--yaku-poster-title-color, #000000);
}
