<div class="home-menu">
  <div class="home-menu-header">
    <button class="icon-button" type="button" (click)="close()">
      <app-icon name="close" />
    </button>
  </div>
  <div class="home-menu-navigation">
    <a class="home-menu-navigation-item" routerLink="/albums">
      <div class="home-menu-navigation-item-title">
        <app-icon name="disc" />
        {{ 'home.action' | translate }}
      </div>
    </a>
    <a class="home-menu-navigation-item" [href]="environment.externalUrl.spotify" target="_blank">
      <div class="home-menu-navigation-item-title">
        <app-icon name="spotify" />
        {{ 'common.action.openSpotify' | translate }}
      </div>
      <app-icon name="external-link" />
    </a>
    <a class="home-menu-navigation-item" [href]="environment.externalUrl.github" target="_blank">
      <div class="home-menu-navigation-item-title">
        <app-icon name="github" />
        {{ 'home.openGithub' | translate }}
      </div>
      <app-icon name="external-link" />
    </a>
  </div>
  <div class="home-menu-footer">
    {{ 'version' | translate:{ version: environment.version } }}
  </div>
</div>
