.color-button {
  appearance: none;
  padding: 0;
  display: block;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 2px solid var(--yaku-color--border);

  &.selected {
    border-color: var(--yaku-color--primary);
  }
}
