<form class="w-full flex flex-col gap-[24px]" [formGroup]="customizationForm">
  <div class="form-field">
    <div class="form-field-label">
      {{ 'poster.control.customization.backgroundColor' | translate }}
    </div>
    <div class="flex items-start flex-wrap gap-[12px]">
      @for (color of backgroundColors(); track color) {
        <button class="color-button" type="button" [class.selected]="selectedBackgroundColor() === color" [style.background-color]="color" (click)="selectColor(color)">

        </button>
      }
    </div>
  </div>
  <app-form-field>
    {{ 'poster.control.customization.textColorTheme' | translate }}
    <select app-form-field-input formControlName="textColorTheme">
      @for (theme of predefinedThemes; track $index) {
        <option [value]="theme">
          {{ 'poster.theme.' + theme | translate }}
        </option>
      }
    </select>
  </app-form-field>
</form>
