<form class="custom-theme-customization" [formGroup]="customizationForm">
  <div class="form-field">
    <div class="form-field-label">
      {{ 'poster.control.customization.backgroundColor' | translate }}
    </div>
    <div class="custom-theme-customization-color">
      @for (color of backgroundColors(); track color) {
        <button class="custom-theme-customization-color-button" type="button" [class.selected]="selectedBackgroundColor() === color" [style.background-color]="color" (click)="selectColor(color)">

        </button>
      }
    </div>
  </div>
  <app-form-field>
    {{ 'poster.control.customization.textColorTheme' | translate }}
    <select app-form-field-input formControlName="textColorTheme">
      @for (theme of predefinedThemes; track $index) {
        <option [value]="theme">
          {{ 'poster.theme.' + theme | translate }}
        </option>
      }
    </select>
  </app-form-field>
</form>
