<div class="page">
  <div class="page-content">
    <div class="page-content-title">
      {{ 'search.title' | translate }}
    </div>
    <div class="album">
      <app-form-field>
        {{ 'search.control.link' | translate }}
        <input autocomplete="off" type="url" app-form-field-input [formControl]="searchControl" [placeholder]="'search.placeholder.link' | translate">
        <app-form-field-error type="required">
          {{ 'common.control.error.required' | translate }}
        </app-form-field-error>
        <app-form-field-error type="pattern">
          {{ 'search.control.error.pattern' | translate }}
        </app-form-field-error>
      </app-form-field>
      <p [innerHTML]="'search.hint.link' | translate"></p>
      <button type="submit" app-button [disabled]="searchControl.invalid" [loading]="loading()" (click)="search()">
        {{ 'common.action.next' | translate }}
      </button>
    </div>
  </div>
  <div class="page-decoration"></div>
</div>
