<div class="home">
  <section class="home-header">
    <h1 class="home-header-title">
      {{ 'title' | translate }}
    </h1>
    <div class="home-header-actions">
      @if (isHandset()) {
        <button class="icon-button" type="button" (click)="openMenu()">
          <app-icon name="menu" />
        </button>
      } @else {
        <a class="link" [href]="environment.externalUrl.spotify" target="_blank">
          {{ 'common.action.openSpotify' | translate }}
          <app-icon name="spotify" />
        </a>
        <a class="link primary" routerLink="/albums">
          {{ 'home.action' | translate }}
          <app-icon name="disc" />
        </a>
      }
    </div>
  </section>
  <section class="home-intro">
    <h2 class="home-intro-title" [innerHTML]="'home.intro' | translate">
    </h2>
  </section>
  <section class="home-carousel">
    <swiper-container centered-slides="true" initial-slide="3" mousewheel="true" space-between="24" slides-per-view="auto">
      @for (poster of posters; track $index) {
        <swiper-slide class="home-carousel-link">
          <img src="posters/{{ poster }}.png" alt="From Zero">
        </swiper-slide>
      }
    </swiper-container>
  </section>
  <section class="home-how-it-works">
    <h2 class="home-how-it-works-title" [innerHTML]="'home.howItWorks.title' | translate">
    </h2>
    <div class="home-how-it-works-grid">
      @for (step of steps; track $index) {
        <div class="home-how-it-works-grid-item">
          <div class="home-how-it-works-grid-item-number">
            {{ $index + 1 | number: '2.0-0' }}
          </div>
          <div class="home-how-it-works-grid-item-content">
            <div class="home-how-it-works-grid-item-content-title">{{ step.titleKey | translate }}</div>
            <p>{{ step.descriptionKey | translate }}</p>
          </div>
        </div>
      }
    </div>
  </section>
  <section class="home-outro">
    <h2 class="home-outro-title" [innerHTML]="'home.outro' | translate">
    </h2>
    <a class="link primary" routerLink="/albums">
      {{ 'home.action' | translate }}
      <app-icon name="disc" />
    </a>
  </section>
  <section class="home-footer">
    <div class="home-footer-copyright">
      ©{{ date.getFullYear() }} {{ 'title' | translate }}
    </div>
    <div class="home-footer-social">
      <a class="icon-button" [href]="environment.externalUrl.github" target="_blank">
        <app-icon name="github" />
      </a>
    </div>
  </section>
</div>
