@use "layout";
@use "gradient";
@use "text";

.home {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  max-width: 100%;

  &-header {
    height: 84px;
    background: var(--yaku-color--background-elevated);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 0 24px;

    &-wrapper {
      position: sticky;
      z-index: 10;
      top: 0;
      padding: 24px;
    }

    &-title {
      color: var(--yaku-color--title);
      font-size: 24px;
      font-weight: 500;
      text-transform: uppercase;
    }

    &-actions {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  &-carousel {
    width: 100vw;
    max-width: 100%;

    swiper-container {
      width: 100%;
    }

    &-link {
      width: 400px;

      @include layout.is-mobile {
        width: 300px;
      }

      img {
        max-width: unset;
        height: auto;
        width: 100%;
      }
    }
  }

  &-how-it-works {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 96px 0 48px;

    &-title {
      @include text.gradient(gradient.$secondary);
      font-size: 260px;
      font-weight: 700;
      line-height: 0.85;
      letter-spacing: -6px;
      text-transform: uppercase;
      text-align: center;
      overflow: hidden;

      @include layout.is-mobile {
        font-size: 120px;
      }
    }

    &-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      padding: 0 24px;

      @include layout.is-mobile {
        grid-template-columns: repeat(1, 1fr);
      }

      &-item {
        background: var(--yaku-color--background-elevated);
        border-radius: 8px;
        padding: 40px;
        display: flex;
        align-items: flex-start;
        gap: 24px;

        &-number {
          color: var(--yaku-color--title);
          font-size: 30px;
          font-weight: 600;
          text-transform: uppercase;
        }

        &-content {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 12px;
          font-size: 18px;

          &-title {
            color: var(--yaku-color--title);
            font-size: 46px;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 1;
          }
        }
      }
    }
  }

  &-intro {
    position: relative;
    padding: 96px 0 48px;

    &-title {
      @include text.gradient(gradient.$primary);
      font-size: 260px;
      font-weight: 700;
      letter-spacing: -6px;
      text-transform: uppercase;
      line-height: 0.85;
      text-align: center;
      overflow: hidden;

      @include layout.is-mobile {
        font-size: 120px;
      }
    }
  }

  &-outro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 48px 0 96px;

    &-title {
      @include text.gradient(gradient.$tertiary);
      font-size: 260px;
      font-weight: 700;
      letter-spacing: -6px;
      text-transform: uppercase;
      line-height: 0.85;
      text-align: center;
      overflow: hidden;

      @include layout.is-mobile {
        font-size: 120px;
      }
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    color: var(--yaku-color--title);
    background: var(--yaku-color--background-elevated);
    border-radius: 8px;
    padding: 24px;
    margin: 0 24px 24px;

    &-copyright {
      font-size: 22px;
      text-transform: uppercase;
    }

    &-social {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}
