<div class="home">
  <section class="home-header">
    <h1 class="home-header-title">
      {{ 'title' | translate }}
    </h1>
    <div class="home-header-actions">
      <a class="link" href="https://open.spotify.com" target="_blank">
        {{ 'common.action.openSpotify' | translate }}
        <app-spotify-icon />
      </a>
      <a class="link primary" routerLink="/albums">
        {{ 'home.action' | translate }}
        <app-disc-icon />
      </a>
    </div>
  </section>
  <section class="home-intro">
    <h2 class="home-intro-title" [innerHTML]="'home.intro' | translate">
    </h2>
  </section>
  <section class="home-carousel">
    <swiper-container centered-slides="true" initial-slide="4" mousewheel="true" space-between="30" slides-per-view="auto">
      @for (poster of posters; track $index) {
        <swiper-slide class="home-carousel-link">
          <img src="posters/{{ poster }}.png" alt="From Zero">
        </swiper-slide>
      }
    </swiper-container>
  </section>
  <section class="home-how-it-works">
    <h2 class="home-how-it-works-title" [innerHTML]="'home.howItWorks.title' | translate">
    </h2>
    <div class="home-how-it-works-grid">
      @for (step of steps; track $index) {
        <div class="home-how-it-works-grid-item">
          <div class="home-how-it-works-grid-item-number">
            {{ $index + 1 | number: '2.0-0' }}
          </div>
          <div class="home-how-it-works-grid-item-content">
            <div class="home-how-it-works-grid-item-content-title">{{ step.titleKey | translate }}</div>
            <p>{{ step.descriptionKey | translate }}</p>
          </div>
        </div>
      }
    </div>
  </section>
  <section class="home-outro">
    <h2 class="home-outro-title" [innerHTML]="'home.outro' | translate">
    </h2>
    <a class="link primary" routerLink="/albums">
      {{ 'home.action' | translate }}
      <app-disc-icon />
    </a>
  </section>
  <section class="home-footer">
    <div class="home-footer-copyright">
      ©{{ date.getFullYear() }} {{ 'title' | translate }}
    </div>
    <div class="home-footer-social">
      <a target="_blank">
        <app-github-icon/>
      </a>
    </div>
  </section>
</div>
