@use "layout";
@use "gradient";
@use "text";

.not-found {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 24px;

  &-title {
    @include text.gradient(gradient.$tertiary);
    font-size: 180px;
    font-weight: 700;
    line-height: 0.85;
    letter-spacing: -5px;
    text-align: center;
    text-transform: uppercase;

    @include layout.is-mobile {
      font-size: 80px;
    }
  }

  &-content {
    font-size: 20px;
    text-align: center;
  }
}
