:root {
  --yaku-color--primary: #CBF55C;
  --yaku-color--secondary: #33FFFF;
  --yaku-color--background: rgb(41, 1, 72);
  --yaku-color--surface: #400073;
  --yaku-color--border: #818181;
  --yaku-color--text: #FFFFFF;
  --yaku-color--error: #c91123;

  --yaku-poster-background-color: #ffffff;
  --yaku-poster-title-color: #171918;
  --yaku-poster-text-color: #171918;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  min-height: 100%;
}

body {
  font-family: 'Khand', serif;
  font-size: 15px;
  font-weight: 400;
  background: var(--yaku-color--background);
  color: var(--yaku-color--text);

  router-outlet + * {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
  }
}

.page {
  height: 100vh;
  width: 100vw;
  display: flex;

  &-decoration {
    flex: 1;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
  }

  &-content {
    position: relative;
    background: var(--yaku-color--surface);
    width: 100%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 24px;
    padding: 24px;

    &-title {
      color: var(--yaku-color--primary);
      font-size: 24px;
      font-weight: 600;
      text-transform: uppercase;
    }

    &-loader {
      position: absolute;
      inset: 0;
      background: var(--yaku-color--surface);
      padding: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;
    }
  }
}

.button {
  position: relative;
  appearance: none;
  border: none;
  cursor: pointer;
  height: 42px;
  background: var(--yaku-color--primary);
  color: var(--yaku-color--background);
  border-radius: 999px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;

  &:disabled {
    cursor: not-allowed;
  }

  &.disabled {
    opacity: 0.3;
  }

  &:hover:not([disabled]) {
    background: var(--yaku-color--text);
  }

  .button-spinner-container {
    position: absolute;
    inset: 0;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--yaku-color--primary);
    border-radius: 999px;

    app-spinner {
      color: var(--yaku-color--background);
      height: 28px !important;
      width: 28px !important;
    }
  }
}

.link {
  appearance: none;
  border: none;
  cursor: pointer;
  height: 42px;
  border-radius: 999px;
  padding: 0 24px;
  background: var(--yaku-color--secondary);
  color: var(--yaku-color--background);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;

  &.primary {
    background: var(--yaku-color--primary);
  }

  &:hover:not([disabled]) {
    background: var(--yaku-color--text);
  }
}

ul {
  list-style: disc;
  padding: 0 15px;
}

.icon {
  fill: currentColor;
  height: 24px;
  width: 24px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 6px;

  &-label {
    color: var(--yaku-color--text);
    font-size: 14px;

    &-required {
      color: var(--yaku-color--error);
    }
  }

  &-input {
    position: relative;
    appearance: none;
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--yaku-color--border);
    border-radius: 999px;
    padding: 18px 24px;
    color: var(--yaku-color--text);

    &--invalid {
      border-color: var(--yaku-color--error);
    }

    &--select {
      &::after {
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translateY(-50%);
        border-top: 5px solid var(--yaku-color--primary);
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        width: 0;
        height: 0;
        content: '';
      }
    }
  }

  &-message {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;

    &-error {
      color: var(--yaku-color--error);
    }

    &-hint {
      color: #D8A3FF;
    }
  }
}

@media print {
  body {
    visibility: hidden;
  }

  app-poster-preview {
    visibility: visible;
    position: absolute;
    inset: 0;
  }
}
